.container-about{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    line-height: 2.2;
    font-style: normal;
    color: #fff;
    padding: 2rem;
    background-color: #3f623b;



    .history-container{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: .3rem;
        color: #fff;
        border-radius: 1rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .history-img-horse img {
        width: 425px;
        float: right;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: .9rem;
        margin: .4rem;
    }
    .history-img img {
    width: 400px;
    float: left;
    margin: .8rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: .9rem;
}

.problem {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.objectives {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    list-style: none;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

}