article {
    background-color: #82954B;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.page-title {
    margin: 0.5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

.video {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.video iframe {
    align-content: center;
    width: 800px;
    height: 500px;

}

    .about-button{
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        list-style: none;
        
        & a{
            text-align: center;
            background-color: #99e092;
            background-image: linear-gradient(132deg, #99e092 4%, #005007 100%);
            text-align: center;
            padding: .4rem;
            color: #fff;
            border-radius: 20px;
            text-decoration: none;
        }
        & a:hover{
            background-color: #005007;
            background-image: linear-gradient(132deg, #5e9159 4%, #036f0c 100%);
            transition: all 0.2s ease;
            color: #fff;
        }
    }
