#donate {
    background-image: url("../assets/hero-donate.jpg");
    background-position: center top;
    display: flex;
    text-align: center;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}
#formas-donar {
    background-color: #2c4e30;
    display: flex;
    justify-content: center;
    align-items: center;

}
.donate-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #fff;
    padding: .5rem;
    text-align: center;

}

#volunteer-page {
    background-image: url(../assets/horse-volunteer.jpg);
    background-position: center;
    display: flex;
    text-align: center;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.donate-form-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    border-radius: 10px;

}

#volunteer-page {
    background-image: url(../assets/horse-volunteer.jpg);
    background-position: center;
    display: flex;
    text-align: center;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}