
@import "./vars.scss";
@import "./base.scss";



footer{
    background-color: $footer-background;
    

    .footer-content{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        color: $footer-text-color;
    } 
.footer-contact{
    display: flex;
    flex-flow: column;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    color: #fff;
    list-style: none;
}
   .footer-contact a {
        color: $footer-link-color;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        background-color: #3f623b;
        border-radius: 20px;
        padding: .2rem;
        margin: .4rem;
        text-align: center;
    }
    .footer-contact a:hover{
        background-color: #519259;
        transition: all 0.2s ease;
        color: #fff;
    }

    .footer-title{
        display: flex;
        flex-flow: column;
        align-content: center;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2em;
        margin: 1rem;
        color: #fff;    
    }

    .footer-social-media a {
        margin: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        color: #fff;
        text-decoration: none;
    
    }
    .footer-social-media ul span {
        color: #fff;
    }
    .footer-help a {
        display: flex;
        margin: 1rem;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        color: #fff;
        list-style: none;
        text-decoration: none;
    }
    .footer-help a:hover {
        background-color: #519259;
        color: #fff;
        transition: all 0.2s ease;
    }
    .footer-about a {
        margin: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        color: #fff;
        list-style: none;
        text-decoration: none;
    }

    .rigths {
        background-color: #303229;
        display: flex;
        color: #fff;
        justify-content: center;
        padding: 1rem;
    }
    
}