.nav-links{
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    display: flex;
    align-content: center;

  & li a{
        text-decoration: none;
        margin: 1rem;
        color: #fff;
    }
   & li a:hover{
        color: #525e30;
    }

}
    .logo img{
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-left: 10px;
    }