#volunteer{
    background-color: #82954B;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

}
    .volunteer-container {
        display: flex;
        flex-flow: nowrap;
        align-content: center;
        justify-content: center;
        z-index: 1;
    }
    
    .volunteer-title {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-content: center;
        justify-content: center;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        padding: 1rem;
    
    }
    .volunteer-img {
        display: flex;
        align-content: center;
        justify-content: center;
        align-content: center;
        margin: 0.5rem;
        padding: 0.5rem
    }
    
    .volunteer-img img {
        height: 400px;
        width: 400px;
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    
    .volunteer-btn {
        margin-top: 2rem;
    }
    
    .volunteer-btn a {
        text-decoration: none;
        color: #fff;
        background-color: #519259;
        border-radius: 20px solid;
        padding: 0.5rem;
    
    }
    
    .volunteer-btn :hover {
        background-color: #3f623b;
        transition: all 0.2s ease;
        color: #fff;
    }

// VOLUNTEER PAGE
.volunteer-content {
    background-color: #3f623b;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    align-content: center;
    justify-content: center;
    color: #fff;

}

.volunteer-title-content h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}



.requisitos {
    background-color: #519259;
    padding: .5rem;
    display: grid;
    gap: .5rem;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    & ul li {
        list-style: none;
        margin: .3rem;
    }
      }


    .video-volunteer{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
        padding: 1rem;
    }
  
        .video-title {
            text-align: center;
            padding: 1rem;
        }
         
        .video-title h2 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            margin: .5rem;
            padding: .5rem;
        }
         
         .volunteer-group {
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
         }
         .volunteer-btn-page {
            text-align: center;
            padding: .3rem;
            margin: .8rem;
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            & a{
                text-decoration: none;
                color: #fff;
                background-color: #CD201F;
                border-radius: 3rem;
                padding: 0.5rem;
                margin: .5rem;
            }
        }
        .volunteer-btn-page :hover {
            background-color: #235d22;
            transition: all 0.2s ease;
            padding: .5rem;
            border-radius: 3rem;
        }
        .volunteer-comunicate-page {
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #519259;
            padding: .6rem;
        
        }
        


    

//  CARDS VOLUNTEER.HTML

.apadrinar{
    background-color: #519259;
}

    .cards-adoptar{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
        padding: 1rem;
        color: #fff;
        text-align: center;
   }
        .card-adoptar{
            background-color: #3f623b;
            border-radius: 1rem;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
            margin: 1rem;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            justify-content: center;
            color: #fff;
        }
 
    .apadrinar-title{
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        text-align: center;
        padding: 1rem;
        .card-title p {
            padding: .3rem
        }
    }

    .card-button-adoptar a{
        display: inline-block;
        justify-content: center;
        background-color: #82954B;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        padding: .5rem;
        margin: .3rem;
     & a{
        background-color: #9fa757;
     }
    }
    .card-img-adoptar img {
        padding: .1rem;
        border-radius: 2rem;
        height: 200px;
        width: 200px;
    }

// adoptar 
.adoptar {
    background-color: #519259;

}
.dudas {
    background-color: #3e6f44;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: large;
    text-align: center;
    padding: 2rem;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}






.card-tranfer{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(3, 1fr));
    grid-gap: 1rem;
    justify-items: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    text-align: center;
}






