<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santuario</title>
     <!-- FONT AND ICONS -->
     <script src="https://kit.fontawesome.com/b500822ae0.js" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
     <!-- LINKS CSS -->
     <link rel="stylesheet" href="../css/styles.css">
     <link rel="stylesheet" href="../css/others.css">
     <link rel="shortcut icon" href="../assets/logo.svg" type="image/x-icon">
    
</head>
<body>
    <!-- NAV BAR -->
    <header class="nav-bar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/logo.svg" href="index.html" alt=""></a>
        </div>
        <nav>
            <ul class="nav-links">
              
                <li><a href="./about-us.html">Nosotros</a></li>
                <li><a href="./apadrinar.html">Apadrinar</a></li>
                <li><a href="./donate.html">Donar</a></li>
                <li><a href="volunteer.html">Voluntariado</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- VOLUNTARIADO -->
    <section class="hero-container" id="volunteer-page"> 
        <div class="hero-content">
            <div class="donate-title">
                  <h1>Forma parte de nuestro equipo y colabora con el santuario.</h1>
              <p>Hay posiciones de voluntariado abiertas todo el año</p>
            </div>
            <div class="hero-button">
            <a href="./components/about-us.html">Nosotros!
                <i class="uil uil-angle-double-right"></i>
            </a>
            <a href="./components/donate.html">Donar
                <i class="uil uil-heart"></i>
            </a></div>
          
        </div>  
 
    </section>
  
<section class="volunteer-content">
    
    <div class="volun-hero">
    <div class="volunteer-title-content">
       <h1>¿Como formar parte?</h1>
    </div>
    <div class="requisitos">
        <h2>Requisitos:</h2>
    <ul>
        <li> Tenés que ser mayor de 18 años.</li>
        <li>Tener una buena actitud y  voluntad.</li>

        <li>
            Tener 15 días, sin excepción, para venir trabajar en las tareas diarias y el cuidado de los animales.
        </li>
    </ul> </div>   
    <div class="video-title">
      <h2>Experiencias</h2>
        </div>   
    <div class="volunteer-group">

          
      
        <div class="video"> 
         
        <iframe width="600" height="483" src="https://www.youtube.com/embed/FKnqI_jFw_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
    </div>
    <div class="volunteer-btn-page">
        <p>Mira en nuestro canal de YouTube las experiencias de nuestros voluntarios</p>
     <a href="https://www.youtube.com/channel/UC6ISluyfSqt8AAE6wCAWhEA">Visitar canal de Youtube</a>
    </div></div>
    
    </div>

   </div>
</div>

</section>

<section class="volunteer-com-container">
    
<div class="volunteer-comunicate-page">

    <div class="help-title">
<h2>¡Quiero ser Voluntario!</h2> </div>
<p>Podes escribirnos en nuestro alguna de nuestras redes un mensaje diciendo  <b> ¡QUIERO SER VOLUNTARIO!</b></p>
        <ul class="wrapper">

        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><i class="fab fa-instagram"></i></span>
        </li>
      </ul>   </div>
      <img src="../assets/waves.svg" alt="">
      
    </section>

 <!-- CONTACT -->
 <section class="contact-section" id="contact">
    <div class="contact-title">
        <h1>Contactanos!</h1>
        <p>Si deseas contactarnos, llena el formulario y nos pondremos en contacto contigo</p>
    </div>
    <div class="contact-form">
    <form action="" method="POST" enctype="text/plain">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" placeholder=" Nombre">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder=" Email">
        </div>
        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea name="message" id="message" class="form-control" placeholder=" Mensaje"></textarea>
        </div>
        <div class="form-notification">
            <h5>¿Desea recibir notifiaciones sobre la fundacion?</h5>
            <input type="checkbox" name="check" id="check" class="form-control" placeholder=""id="">
        </div>
        <div class="form-btn">
            <input type="submit" value="Enviar" class="button-submit" >

            <input type="reset" value="Limpiar Formulario" class="button-reset">
        </div>

</form>

</div>

</section>


<!-- FOOTER -->

<footer>
    <div class="footer-content">
  
        <div class="footer-contact">
            <div class="footer-title">
            <h3>Contacto</h3></div>
            <p>Santuario Equidad</p>
            <p>Cruz del Eje</p>
            <p>Córdoba,Argentina</p>
            <a href="https://www.google.com/maps/place/Santuario+Equino+EQUIDAD/@-30.6951357,-64.8459897,15z/data=!4m2!3m1!1s0x0:0x72fa3f3345c1b554?sa=X&ved=2ahUKEwj78f-jl973AhV-vJUCHY_4Ar0Q_BJ6BAhbEAU">Lugar <i class="uil uil-location-point"></i></a>
      
        </div>
     <div class="footer-social-media">
        <div class="footer-title">
        <h3>Seguinos en</h3> </div>    
        <ul class="wrapper">
            <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span><i class="fab fa-instagram"></i></span>
            </li>
        
            <li class="icon youtube">
              <span class="tooltip">Youtube</span>
              <span><i class="fab fa-youtube"></i></span>
            </li>
          </ul>   </div>
     <div class="footer-help">
       <div class="footer-title">
           <h3>¿Cómo ayudar?</h3>
      </div> 
      <li><a href="./components/donate.html">Donar</a></li>
      <li><a href="./components/volunteer.html">Voluntariado</a></li>
      <li><a href="./components/contact.html">Contacto</a></li>
 
          </div>
  

  
</footer>      
<hr>

    <div class="rigths">

        <p class=""> © 2022 Lucas Clemente.  All rights reserved</p>
        </div>
    </div> 
    </body>
    </html>