.help {
    background-color: rgb(232, 246, 218);
}

.help-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.50em;
    padding: 10px;
}

.help-content {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    padding: 10px;

}

.help-card {
    display: flex;
    flex-flow: column wrap;
    border-radius: 20px;
    padding: 1.2rem;
    margin: 2rem;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.help-img {
    text-align: center;
    margin: 0.5rem;
}

.help-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0.5rem;
} 