main{
    background-image: url("../assets/pexels-pixabay-461717.jpg");
    background-position: top center;
    background-color: #82954B;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    z-index: 3;
}
 .text-carousel{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
 }
  .img-hero{
    height: 600px;
  }
 

.hero-content{
    text-align: center;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
   .hero-content h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    padding: 10px;
    }
   .hero-content p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        text-align: center;
    }

.hero-button{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    z-index: 1;
}
   .hero-button a{
        background-color: #519259;
        border-radius: 20px;
        padding: 1.2rem;
        margin: .5rem;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        text-decoration: none;
             color: #fff;
    }


   .hero-button a:hover{
        background-color: #525e30;
        color: #fff;
        transition: all 0.2s ease;
    }


