/* MEDIA QUERIES */

@media (max-width: 930px) {
    .grid-container {
        display: grid;
        grid-area: column "header"
            "main"
            "article"
            "section"
            "footer";
    }

    .volunteer-container {
        flex-direction: column;
        ;
    }

    .custom-shape-divider-bottom-1651905826 {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .custom-shape-divider-bottom-1652829294 {
        display: none;
    }

    .contact-section {

        margin-bottom: 5rem;
    }

    .grid-container {
        display: grid;
        grid-area: column "header"
            "main"
            "article"
            "footer";
    }

    main,
    .hero-content {
        display: flex;
        padding: 0 !important;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .hero-button {
        display: flex;
        flex-flow: row;
    }

    .hero-button a {
        padding: 1rem;

    }

    .footer-contact {
        display: none;
    }

    .video iframe {
        align-content: center;
        width: 400px;
        height: 400px;
    }

    @media (max-width:370px) {

        .history-img-horse img,
        .history-img img {
            width: 200px;
            height: 200px;
        }

        .volunteer-img img {
            height: 200px;
            width: 200px;
        }

        .about-button a {
            display: flex;
            margin: .3rem;
            padding: .5rem;
            text-align: center;
        }

        .video iframe {
            align-content: center;
            width: 200px;
            height: 200px;

        }
    }
}