
hr {
    color: #525e30;
}



.custom-shape-divider-bottom-1651905826 {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-bottom-1651905826 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1651905826 .shape-fill {
    fill: rgb(232, 246, 218);
}

/* WAVES VOLUNTEER */
.custom-shape-divider-bottom-1652829294 {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-bottom-1652829294 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1652829294 .shape-fill {
    fill: #2C4E30;
}

@media (max-width: 930px) {
    .custom-shape-divider-bottom-1651905826 {
        display: none;
    }
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    text-decoration: none;
    list-style: none;
    background: #525e30;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    text-decoration: none;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;

    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
    text-decoration: none;
}

.fa-instagram{
    color:#fff;
}

.waves {
    aspect-ratio: 900/240;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-image: url(../assets/layered-waves-haikei.svg);
}